.shop-page .shop {
    position: relative;
    width: 1720px;
    height: 852px;
    background: #d3d3e5;
    flex-direction: column;
}

.shop-page .shop  .shop-container {
width: 100%;
height: 236px;

}
.shop-page .shop  .shop-container .shop-header {
   height: 62px;
   width: 1200px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.shop-page .shop  .shop-menu {

 width: 474;
height: 473;
top: 235px;
left: 219px;

opacity: 1;

}

.shop-page .shop  .shop-menu .shop-logo{
 font-family: Poppins;
font-weight: 900;
font-style: Black;
font-size: 25px;

line-height: 120px;
letter-spacing: 0%;

}

.shop-page .shop  .shop-menu .shop-logo .shop-logo-text2{
    width: 606;
height: 58;
top: 748px;
left: 219px;

opacity: 1;
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 32px;

line-height: 100%;
letter-spacing: -5%;


}
