.products-page {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
}

/** Products **/

.products-page .products {
    width: 100%;
    height: auto;
    display: flex;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
}

.products-page .products .avatar-big-box {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.products-page .products .top-text {
    position: relative;
    width: 100%;
    height: 43px;
    margin-top: 80px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.products-page .products .top-text p {
    position: relative;
    margin-left: 380px;
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 900;
    font-size: 50px;

}



.products-page .products .dishes-filter-section {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: end;
   
}

.products-page .products .dishes-filter-section .dishes-filter-box {
    margin-left: 1000px;
    border-radius: 80px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    
}

.products-page .products .list-category-section {
    display: flex;
    flex-direction: row;
}


.products-page .products .list-category-section .product-category .category-main {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 384px;
    gap: 10px;
    justify-content: space-between;
    writing-mode: vertical-rl;        
    transform: rotate(180deg);        
    color: black;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;



}


.products-page .products .product-wrapper {
   margin-left: 100px;
   width: 1250px;
    height: 1010px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}   



.products .product-wrapper .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
}

.products-page .products .product-card {
    margin-top: 40px;
    margin-right: 24px;
    width: 270px;
    height: auto;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.products-page .products .product-card .product-img {
    position: relative;
    width: 273px;
    height: 275px;
    background-size: cover;
    border-radius: 0px 50px 0px 0px;
}

.products-page .products .product-img .product-sale {
    margin: 10px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9200;
    box-shadow: 4px 6px 20px #0000001a;
    border-radius: 25px;
    font-family: "Poppins";
}





.products-page .products .product-desc .product-title{
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
    
}

.products-page .products .product-desc  .product-desc{

    margin-top: 2px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #e3c08d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.products-page .products .product-img:before {
    border-radius: 0px 50px 0px 0px;
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.products-page .products .product-img:hover:before {
    border-radius: 0px 50px 0px 0px;
    opacity: 1;
}

.products-page .products .product-img img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1;
}


.products-page .products .shop-btn {
    position: absolute;
    padding: 20px;
    top: 217px;
    width: 64px;
    height: 46px;
    left: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgb(198 0 255 / 66% );
    border: 2px solid #d7b686;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #f8f8ff;
}

.products-page .products .product-img:hover .shop-btn {
    opacity: 1;
}

.products-page .products .product-img:hover .view-btn {
    opacity: 1;
}

.products-page .products .view-btn {
    position: absolute;
    top: 223px;
    padding: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.products-page .products .pagination-section {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.products-page .brands-logo {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: auto;
   background: #040408;



}

.products-page .brands-logo .family-brands{

    position: relative;
    width: 100%;
    height: 630px;
    background: #040408;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.products-page .brands-logo .family-brands .category-title{
    position: relative;
    width: 305px;
    height: 96px;
   margin-top: 40px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    
    color: #d7b686;
    

}
 
.products-page .brands-logo .family-brands .brand-list{
    position: relative;
    width: 1200px;
    height: 430px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    
}
    
  .products-page .brands-logo .family-brands .brand-list .review-box {
   width: 300px;
    height: 430px;
    display: flex;
 
    flex-direction: column;
    background: #040408;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -8px 90px #4a4a8b;
    justify-content: space-between;
       
  
  }
    
.products-page .address .address-area {
    position: relative;
    
    width: 1300px;
    height: 701px;
   
    align-items: center;
    justify-content: center; 
    
}



.products-page .address .address-area .title {
color: rgb(52, 52, 52);
font-family: Roboto Serif;
font-size: 36px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0%;
text-align: left;
justify-content: center;
 align-items: center;
 margin-top: 40px;
}


/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}





























